:root {
  --base: #30d5c8;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;

  border: transparent;
  width: 100%;
  /* background-color: var(--base); */
  font-size: 20px;
}

#title {
  position: fixed;
  top: 1;
  left: 0;
}
li {
  list-style-type: none;
}
.nav-bar {
  /* border: solid 2px yellow; */
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.intro {
  display: flex;
  /* border: solid 2px green; */
  height: 80vh;
  align-items: center;
}

.becks-pic {
  height: 300px;
}

img {
  max-width: 100%;
  height: auto;
}

.profile-pic {
  height: 400px;
  width: 650px;
  /* border: solid purple 3px; */
}

/*figure out how to slide page from right to left when clicking nav links*/

li:hover {
  color: var(--base);
  text-decoration: underline;
  transform: scale(1.14);
}

p:hover {
  background-color: var(--base);
}

#intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 80px;
}

#arrow-img {
  height: 50px;
  border: none;
}
